:root{
     --primary-color: #f86c6d
}

      /* Header CSS */

header{
        
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 500;
      
        box-sizing: border-box;
        white-space: nowrap;
        background-color:#131724;
    }
.title{
    height: 90%;
padding-right: 8px;;
}
    img{
        height: 100%;
    }

    .user i{
        margin-right: 8px;
        font-size: 2rem;
        color: var(--primary-color);
    }

    
    /* .logo {
        height: 100%;
        margin-right: 10px;
        display: flex;
    }
    .logo a {
       
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .logo img {
        height: 100%;
        padding: 8px;
        box-sizing: border-box;
        
     
    } */

h1{
    color: var(--primary-color);
    padding: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
}


/* Main CSS */

.content{
    position: relative;
    display: flex;
    margin-bottom: 65px;
}

.navMenu{
    position: fixed;
    left: 0;
    background-color: #131724ed;
    height: 100%;
}

.social a{
    margin: 8px;
}

li{
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    margin: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

li , li a{
    text-decoration: none;
    color: #131724;
    color: white;
}



.compet{
    cursor: pointer;
}

.menu_compet{
display: none;
transition: all 0.5s ease-in-out;
}

.sous_menu{
    font-size: 1rem;
    color: var(--primary-color);
}

li img{
    width: 1rem;
    height: 1rem;
    justify-content: center;
}

.visible1{
    display: block;
    transition: all 0.5s ease-in-out;
    font-size: 0.5rem;
    color: var(--primary-color);
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;

}

.article1{
    /* display: flex;
    flex-wrap: wrap; */
    min-width: 350px;
    max-width: 450px;
    height: 300px;
    position: relative;
    margin: 8px 8px;
    cursor: pointer;
}

.article1:hover{
    cursor: pointer;
    /* height: 310px;
    width: 460px; */
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}



.image1{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.description{
    position: absolute;
    bottom: 0;
}


h4{
    font-family: 'Prompt', sans-serif;
    font-size: 0.8rem;
    background-color: #131724;
    color: var(--primary-color);
    display: inline-block;

}

h5{
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    color: white;

}

h4, h5 {
    margin-left: 8px;
    margin-bottom: 8px
}



@media (min-width: 768px){

    .title{
        padding-left: 50px;
    }

    .user{
        display: none;
    }

    li:hover{
        color: var(--primary-color);
        cursor: pointer;
    }
    
    li a:hover{
        color: var(--primary-color);
    }

    .icone_burger{
        display: none;
    }

    .menu_burger{
        display: none;
        transition: all 1s;
    }

    .compet1{
        cursor: pointer;
    }

    .menu_compet1{
        display: none;
    }

    .sous_menu1{
        font-size: 1rem;
        color: var(--primary-color);
    }

    .visible1{
        display: block;
    }

    .content{
        margin-right: 8px;
        margin-left: auto;
    }

    .articles{
        margin-left: 224px;
    }

    .bottom{
        display: none;
    }
}

@media (max-width: 768px){

    

        /* .title{
            text-align: center;
            font-size: 1rem;
        } */

        .icone_burger{
            cursor: pointer;
            display: block;
        }

        .burger1, .burger2, .burger3{
            border: var(--primary-color) solid 2px;
            width: 30px;
            margin: 8px;
        }

        .menu_burger{
        position: fixed;
        left: -450px;
        background-color: #131724ed;
        height: 100%;
        width: 50%;
        z-index: 9999999999;
        padding-left: 4px;
        padding-right: 4px;
        transition: all 0.5s ease-in-out;
        }

        .navMenu{
        display: none;
    }
    
    .visible{
        /* display: block; */
        position:fixed;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

 
}





