:root{
     --primary-color: #f86c6d;
     --secondary-color:#131724;
}

      /* Header CSS */

header{
        
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 500;
      
        box-sizing: border-box;
        white-space: nowrap;
        background-color:var(--secondary-color);
    }

    body.light{
        background-color: white;
    }

    body.dark{
        background-color: var(--secondary-color);
    }

    body.dark header{
        border-bottom:solid 1px var(--primary-color);

    }
    body.dark .navMenu{
        border-right: solid 1px var(--primary-color);
    }

.title{
    height: 90%;
padding-right: 8px;;
}
    img{
        height: 100%;
    }

    .user{
        cursor: pointer;
    }

    .user i{
        margin-right: 8px;
        font-size: 2rem;
        color: var(--primary-color);
    }

    /* .center{
        background: linear-gradient(to right, #3a7bd5, #3a6073);
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    } */
    .popup{
        font-family: 'Urbanist',sans-serif;
        display: none;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        padding: 20px 30px;
        background: #fff;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 200ms ease-in-out 0ms;
    }
    
    .active2{
        display: block;
        top:300px;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 0ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 200ms ease-in-out 0ms;
    }
    
    .popup .close-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        background: var(--secondary-color) ;
        color: #eee;
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        cursor: pointer;
    
    }
    
    .popup .form1 h2{
    text-align: center;
    color: var(--secondary-color) ;
    margin:10px 0px 20px ;
    font-size: 25px;
    
    }
    
    .popup .form1 .form1-element{
    margin: 15px 0px;
    }
    
    .popup .form1 .form1-element label {
        font-size: 14px;
        color:var(--secondary-color);
        border-radius: 5px;
    }

    input:invalid{
        border: 2px solid red;
        border-radius: 5px;
    }
    
    .popup .form .form-element input[type="text"],
    .popup .form .form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    }
    
    .popup .form1 .form1-element input[type="checkbox"]{
    margin-right: 5px;
    }
    .popup .form1 .form1-element input[type="submit"]{
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 15px;
        background: var(--secondary-color);
        color: #f5f5f5;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .popup .form1 .form1-element a {
        display: block;
        text-align: right;
        font-size: 15px;
        color: #1a79ca;
        text-decoration: none;
        font-weight: 600;
    }




h1{
    color: var(--primary-color);
    padding: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
}


/* Main CSS */

.content{
    position: relative;
    display: flex;
    margin-bottom: 65px;
}

.navMenu{
    position: fixed;
    left: 0;
    background-color: #131724ed;
    height: 100%;
}

.social a{
    margin: 8px;
}

li{
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    margin: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

li , li a{
    text-decoration: none;
    color: white;
}

.compet{
    cursor: pointer;
}

.menu_compet{
display: none;
transition: all 0.5s ease-in-out;
}

.sous_menu{
    font-size: 1rem;
    color: var(--primary-color);
}

li img{
    width: 1rem;
    height: 1rem;
    justify-content: center;
}

.visible1{
    display: block;
    transition: all 0.5s ease-in-out;
    font-size: 0.5rem;
    color: var(--primary-color);
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;

}

.article1{
    /* display: flex;
    flex-wrap: wrap; */
    width: 500px;
    height: 300px;
    position: relative;
    margin: 8px 8px;
    cursor: pointer;
}

.article1:hover{
    cursor: pointer;
    /* height: 310px;
    width: 460px; */
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}



.image1{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.description{
    position: absolute;
    bottom: 0;
}


h4{
    font-family: 'Prompt', sans-serif;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: inline-block;
    padding: 2px;
}

h5{
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    background-size: contain;
    color: white;
    padding: 0px 4px;
    margin-bottom: 8px;
    margin-right: 8px;
}

h4, h5 {
    margin-left: 8px;
}



@media (min-width: 768px){

    .title{
        padding-left: 50px;
    }

    .user{
        display: none;
    }

    li:hover{
        color: var(--primary-color);
        cursor: pointer;
    }
    
    li a:hover{
        color: var(--primary-color);
    }

    .menu_compet1 li:hover{
        color: white;
    }

    .icone_burger{
        display: none;
    }

    .menu_burger{
        display: none;
        transition: all 1s;
    }

    .compet1{
        cursor: pointer;
    }

    .menu_compet1{
        display: none;
    }

    .sous_menu1{
        font-size: 1rem;
        color: var(--primary-color);
    }

    .visible1{
        display: block;
    }

    .content{
        margin-right: 8px;
        margin-left: auto;
    }

    .articles{
        margin-left: 224px;
    }

    .article1:hover{
        transform: scale(1.1, 1.1);
        transition: all 0.5s ease-in-out;
        z-index: 499;
    }

    .zoom

    .bottom{
        display: none;
    }
}

@media (max-width: 768px){

    

        /* .title{
            text-align: center;
            font-size: 1rem;
        } */

        .icone_burger{
            cursor: pointer;
            display: block;
        }

        .burger1, .burger2, .burger3{
            border: var(--primary-color) solid 2px;
            width: 30px;
            margin: 8px;
            border-radius: 5px;
        }

        .menu_burger{
        position: fixed;
        left: -450px;
        background-color: #131724ed;
        height: 100%;
        width: 50%;
        z-index: 9999999999;
        padding-left: 4px;
        padding-right: 4px;
        transition: all 0.5s ease-in-out;
        }

        .navMenu{
        display: none;
    }
    
    .visible{
        /* display: block; */
        position:fixed;
        left: 0;
        transition: all 0.5s ease-in-out;

    }

    .article1{
        width: 400px;
        height: 250px;
    }
}